appdirs==1.4.4
blinker==1.4
brotlipy==0.7.0
certifi==2023.5.7
colorlog==4.8.0
fonttools==4.25.0
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.2
jax==0.4.12
keras==2.12.0
libclang==16.0.0
ml-dtypes==0.2.0
munkres==1.1.4
numpy==1.23.5
pandas==1.5.3
Pillow==9.4.0
protobuf==3.20.3
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
PyYAML==6.0
scipy==1.10.1
streamlit==1.23.1
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow-estimator==2.12.0
tensorflow-macos==2.12.0
xgboost==1.7.3
